In [80]:
# from sklearn.preprocessing import StandardScaler
# from sklearn.pipeline import Pipeline
# from sklearn.model_selection import GridSearchCV

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from scipy import stats

from sklearn.feature_selection import SelectFromModel, SelectKBest, RFE

from sklearn.metrics import classification_report, log_loss, confusion_matrix

In [81]:
with open("madelon_train.data", "r") as f:
    train_values = np.fromstring(f.read(), dtype=int, sep=" ").reshape((2000, 500))

with open("madelon_train.labels", "r") as f:
    train_labels = np.fromstring(f.read(), dtype=int, sep=" ").reshape((2000,))

with open("madelon_valid.data", "r") as f:
    valid_values = np.fromstring(f.read(), dtype=int, sep=" ").reshape((600, 500))

with open("madelon_valid.labels", "r") as f:
    valid_labels = np.fromstring(f.read(), dtype=int, sep=" ").reshape((600,))

In [82]:
names_of_classifiers = [
    'KNeighbors',
    'DecisionTree',
    'SVClassifier'
]

classifiers = [
    KNeighborsClassifier(),
    DecisionTreeClassifier(),
    SVC()]

In [83]:
mad_raw_valid_scores = {}
mad_raw_y_preds = {}

for name, clfr in zip(names_of_classifiers, classifiers):
    clfr.fit(train_values, train_labels)

    clfr.fit(train_values, train_labels)
    valid_score = clfr.score(valid_values, valid_labels)
    y_pred = clfr.predict(valid_values)

    mad_raw_valid_scores[name] = valid_score
    mad_raw_y_preds[name] = y_pred

In [84]:
mad_raw_valid_scores

{'KNeighbors': 0.6916666666666667,
 'DecisionTree': 0.7583333333333333,
 'SVClassifier': 0.6866666666666666}

In [85]:
knn_names_of_classifiers = [
    'KNeighbors2',
    'KNeighbors3',
    'KNeighbors4',
    'KNeighbors5',
    'KNeighbors6',
    'KNeighbors7',
    'KNeighbors8',
    'KNeighbors9',
    'KNeighbors10',
    'KNeighbors11',
    'KNeighbors12',
    'KNeighbors13',
    'KNeighbors14',
    'KNeighbors15',
]

knn_classifiers = [
    KNeighborsClassifier(n_neighbors=2),
    KNeighborsClassifier(n_neighbors=3),
    KNeighborsClassifier(n_neighbors=4),
    KNeighborsClassifier(n_neighbors=5),
    KNeighborsClassifier(n_neighbors=6),
    KNeighborsClassifier(n_neighbors=7),
    KNeighborsClassifier(n_neighbors=8),
    KNeighborsClassifier(n_neighbors=9),
    KNeighborsClassifier(n_neighbors=10),
    KNeighborsClassifier(n_neighbors=11),
    KNeighborsClassifier(n_neighbors=12),
    KNeighborsClassifier(n_neighbors=13),
    KNeighborsClassifier(n_neighbors=14),
    KNeighborsClassifier(n_neighbors=15),
]

In [86]:
mad_raw_valid_scores = {}
mad_raw_y_preds = {}

for name, clfr in zip(knn_names_of_classifiers, knn_classifiers):
    clfr.fit(train_values, train_labels)

    clfr.fit(train_values, train_labels)
    valid_score = clfr.score(valid_values, valid_labels)
    y_pred = clfr.predict(valid_values)

    mad_raw_valid_scores[name] = valid_score
    mad_raw_y_preds[name] = y_pred

In [87]:
mad_raw_valid_scores

{'KNeighbors2': 0.6583333333333333,
 'KNeighbors3': 0.695,
 'KNeighbors4': 0.67,
 'KNeighbors5': 0.6916666666666667,
 'KNeighbors6': 0.7083333333333334,
 'KNeighbors7': 0.72,
 'KNeighbors8': 0.7233333333333334,
 'KNeighbors9': 0.7316666666666667,
 'KNeighbors10': 0.7333333333333333,
 'KNeighbors11': 0.725,
 'KNeighbors12': 0.725,
 'KNeighbors13': 0.7466666666666667,
 'KNeighbors14': 0.7483333333333333,
 'KNeighbors15': 0.755}

In [88]:
mad_raw_valid_scores = {}
mad_raw_y_preds = {}

for name, clfr in zip(names_of_classifiers, classifiers):
    clfr.fit(train_values, train_labels)

    clfr.fit(train_values, train_labels)
    valid_score = clfr.score(valid_values, valid_labels)
    y_pred = clfr.predict(valid_values)

    mad_raw_valid_scores[name] = valid_score
    mad_raw_y_preds[name] = y_pred

In [89]:
def myMinMaxScaler (df):
    '''
    PARAM(S):
    input is a pandas DataFrame
    lowerbound is the user-specified min (float)
    upperbound is the user-specified max (float)
    
    RETURNS:
    a transformed DataFrame whose values are between 0.0001 and 1
    '''
    mmdf = (df - df.min(axis=0)) / (df.max(axis=0) - df.min(axis=0))
    return mmdf

In [90]:
train_df = pd.DataFrame(data=train_values[0:,0:],
                        index=[i for i in range(0, train_values.shape[0])],
                        columns=[i for i in range(0, train_values.shape[1])])

valid_df = pd.DataFrame(data=valid_values[0:,0:],
                        index=[i for i in range(0, valid_values.shape[0])],
                        columns=[i for i in range(0, valid_values.shape[1])])

In [91]:
train_df

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,485,477,537,479,452,471,491,476,475,473,...,477,481,477,485,511,485,481,479,475,496
1,483,458,460,487,587,475,526,479,485,469,...,463,478,487,338,513,486,483,492,510,517
2,487,542,499,468,448,471,442,478,480,477,...,487,481,492,650,506,501,480,489,499,498
3,480,491,510,485,495,472,417,474,502,476,...,491,480,474,572,454,469,475,482,494,461
4,484,502,528,489,466,481,402,478,487,468,...,488,479,452,435,486,508,481,504,495,511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,490,505,503,474,463,461,519,476,518,467,...,467,479,449,588,499,506,475,463,507,501
1996,480,475,476,480,495,482,515,479,480,484,...,464,474,473,424,454,570,476,493,465,485
1997,480,517,631,470,485,474,535,476,493,466,...,501,483,479,687,488,488,483,500,523,481
1998,484,481,505,478,542,477,518,477,510,472,...,487,483,526,750,486,529,484,473,527,485
1999,474,493,469,486,521,475,494,479,481,473,...,467,476,508,449,463,533,481,489,516,516

In [92]:
train_df = myMinMaxScaler(train_df)
train_df

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.560976,0.438356,0.588028,0.393939,0.255521,0.260870,0.566787,0.5,0.424528,0.375000,...,0.492958,0.529412,0.491429,0.449367,0.578947,0.330798,0.558140,0.44,0.398577,0.516667
1,0.512195,0.351598,0.316901,0.515152,0.681388,0.347826,0.693141,0.8,0.518868,0.291667,...,0.394366,0.441176,0.548571,0.263291,0.587045,0.334601,0.604651,0.57,0.523132,0.633333
2,0.609756,0.735160,0.454225,0.227273,0.242902,0.260870,0.389892,0.7,0.471698,0.458333,...,0.563380,0.529412,0.577143,0.658228,0.558704,0.391635,0.534884,0.54,0.483986,0.527778
3,0.439024,0.502283,0.492958,0.484848,0.391167,0.282609,0.299639,0.3,0.679245,0.437500,...,0.591549,0.500000,0.474286,0.559494,0.348178,0.269962,0.418605,0.47,0.466192,0.322222
4,0.536585,0.552511,0.556338,0.545455,0.299685,0.478261,0.245487,0.7,0.537736,0.270833,...,0.570423,0.470588,0.348571,0.386076,0.477733,0.418251,0.558140,0.69,0.469751,0.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.682927,0.566210,0.468310,0.318182,0.290221,0.043478,0.667870,0.5,0.830189,0.250000,...,0.422535,0.470588,0.331429,0.579747,0.530364,0.410646,0.418605,0.28,0.512456,0.544444
1996,0.439024,0.429224,0.373239,0.409091,0.391167,0.500000,0.653430,0.8,0.471698,0.604167,...,0.401408,0.323529,0.468571,0.372152,0.348178,0.653992,0.441860,0.58,0.362989,0.455556
1997,0.439024,0.621005,0.919014,0.257576,0.359621,0.326087,0.725632,0.5,0.594340,0.229167,...,0.661972,0.588235,0.502857,0.705063,0.485830,0.342205,0.604651,0.65,0.569395,0.433333
1998,0.536585,0.456621,0.475352,0.378788,0.539432,0.391304,0.664260,0.6,0.754717,0.354167,...,0.563380,0.588235,0.771429,0.784810,0.477733,0.498099,0.627907,0.38,0.583630,0.455556
1999,0.292683,0.511416,0.348592,0.500000,0.473186,0.347826,0.577617,0.8,0.481132,0.375000,...,0.422535,0.382353,0.668571,0.403797,0.384615,0.513308,0.558140,0.54,0.544484,0.627778

In [93]:
# Вычисление матрицы корреляции
correlation_matrix = train_df.corr()

# Создание маски для идентификации признаков с корреляцией выше 80%
correlation_mask = correlation_matrix.abs() > 0.9

# Создание маски для верхнего треугольника матрицы (чтобы избежать повторений)
upper_triangle_mask = np.triu(np.ones(correlation_matrix.shape), k=1).astype(bool)

# Применение маски к матрице корреляции
correlation_mask = correlation_mask & upper_triangle_mask

# Индексы признаков, которые нужно удалить
features_to_drop = [column for column in correlation_mask.columns if any(correlation_mask[column])]

# Удаление признаков с корреляцией выше 80%
train_df_filtered = train_df.drop(columns=features_to_drop)
valid_df_filtered = valid_df.drop(columns=features_to_drop)


# Вывод информации о удаленных признаках
print(f"Удалены признаки с корреляцией выше 80%: {features_to_drop}")

# Вывод отфильтрованного DataFrame

print(valid_df_filtered.shape)
print(valid_labels.shape)

selected_train_values = train_df_filtered.values
selected_valid_values = valid_df_filtered.values

print(selected_valid_values.shape)

Удалены признаки с корреляцией выше 80%: [128, 281, 318, 336, 378, 433, 451, 472, 475, 493]
(600, 490)
(600,)
(600, 490)

In [94]:
knn_names_of_classifiers = [
    'KNeighbors2',
    'KNeighbors3',
    'KNeighbors4',
    'KNeighbors5',
    'KNeighbors6',
    'KNeighbors7',
    'KNeighbors8',
    'KNeighbors9',
    'KNeighbors10',
    'KNeighbors11',
    'KNeighbors12',
    'KNeighbors13',
    'KNeighbors14',
    'KNeighbors15',
]

knn_classifiers = [
    KNeighborsClassifier(n_neighbors=2),
    KNeighborsClassifier(n_neighbors=3),
    KNeighborsClassifier(n_neighbors=4),
    KNeighborsClassifier(n_neighbors=5),
    KNeighborsClassifier(n_neighbors=6),
    KNeighborsClassifier(n_neighbors=7),
    KNeighborsClassifier(n_neighbors=8),
    KNeighborsClassifier(n_neighbors=9),
    KNeighborsClassifier(n_neighbors=10),
    KNeighborsClassifier(n_neighbors=11),
    KNeighborsClassifier(n_neighbors=12),
    KNeighborsClassifier(n_neighbors=13),
    KNeighborsClassifier(n_neighbors=14),
    KNeighborsClassifier(n_neighbors=15),
]

In [95]:
mad_raw_valid_scores = {}
mad_raw_y_preds = {}

for name, clfr in zip(knn_names_of_classifiers, knn_classifiers):
    # clfr.fit(train_values, train_labels)
    clfr.fit(selected_train_values, train_labels)
    valid_score = clfr.score(selected_valid_values, valid_labels)
    y_pred = clfr.predict(selected_valid_values)

    mad_raw_valid_scores[name] = valid_score
    mad_raw_y_preds[name] = y_pred

In [96]:
mad_raw_valid_scores
# {'KNeighbors2': 0.68,
#  'KNeighbors3': 0.62,
#  'KNeighbors4': 0.6,
#  'KNeighbors5': 0.62,
#  'KNeighbors6': 0.62,
#  'KNeighbors7': 0.64,
#  'KNeighbors8': 0.64,
#  'KNeighbors9': 0.68,
#  'KNeighbors10': 0.68,
#  'KNeighbors11': 0.6,
#  'KNeighbors12': 0.66,
#  'KNeighbors13': 0.64,
#  'KNeighbors14': 0.6,
#  'KNeighbors15': 0.56}

{'KNeighbors2': 0.49166666666666664,
 'KNeighbors3': 0.5,
 'KNeighbors4': 0.5,
 'KNeighbors5': 0.5,
 'KNeighbors6': 0.5,
 'KNeighbors7': 0.5,
 'KNeighbors8': 0.5,
 'KNeighbors9': 0.5,
 'KNeighbors10': 0.5016666666666667,
 'KNeighbors11': 0.5,
 'KNeighbors12': 0.5,
 'KNeighbors13': 0.5,
 'KNeighbors14': 0.49166666666666664,
 'KNeighbors15': 0.49666666666666665}

In [100]:
names_of_classifiers = [
    'KNeighbors',
    'DecisionTree',
    'SVClassifier'
]

classifiers = [
    KNeighborsClassifier(),
    DecisionTreeClassifier(),
    SVC()]

In [104]:
mad_raw_valid_scores = {}
mad_raw_y_preds = {}

for name, clfr in zip(names_of_classifiers, classifiers):
    clfr.fit(train_values, train_labels)

    clfr.fit(train_values, train_labels)
    valid_score = clfr.score(valid_values, valid_labels)
    y_pred = clfr.predict(valid_values)

    mad_raw_valid_scores[name] = valid_score
    mad_raw_y_preds[name] = y_pred

In [105]:
mad_raw_valid_scores
# {'KNeighbors': 0.705, 'DecisionTree': 0.535, 'SVClassifier': 0.695} Обучение на selected
# {'KNeighbors': 0.64, 'DecisionTree': 0.8, 'SVClassifier': 0.74} Обучение на всех
# {'KNeighbors': 0.6916666666666667, 'DecisionTree': 0.74, 'SVClassifier': 0.6866666666666666} База

{'KNeighbors': 0.6916666666666667,
 'DecisionTree': 0.76,
 'SVClassifier': 0.6866666666666666}

In [ ]:
from sklearn.ensemble import StackingClassifier

In [ ]:
estimators = [('kn', KNeighborsClassifier()), ('dt', DecisionTreeClassifier())]
modelClf = StackingClassifier(estimators=estimators, final_estimator=SVC())

In [ ]:
modelClf.fit(train_values, train_labels)
print(modelClf.score(valid_values, valid_labels))

0.78
0.86
0.52